html {
    font-size: 14px;
}
  
@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
}
  
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
  
html {
    position: relative;
    min-height: 100%;
}
  
body {
    margin-bottom: 60px;
}
  
.border-slim {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 50px 10px 50px;
}
  
.Divider {
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
h1 {
    color: blue;
    font-size: 20px;
}
  
.flex-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
  
.flex-box > * {
    margin-top: 10px;
}
  
.round-input {
    border: 1px solid black;
    border-radius: 5px;
}
  
.blue-confirm-btn {
    background-color: #258cfb;
    color: white;
    width: 10%;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #258cfb;
    border-radius: 5px;
}
  
.prev {
    background-color: #258cfb;
    color: white;
    width: 10%;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #258cfb;
    border-radius: 5px;
}
  
.next {
    background-color: #258cfb;
    color: white;
    width: 10%;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #258cfb;
    border-radius: 5px;
}
  
.disabled {
    background-color: #ccc;
    color: white;
    width: 10%;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button > a {
    text-decoration: none;
    color: white;
}

.center {
    text-align: center;
}

pre {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 20px;
    white-space: pre-wrap;
    word-break: break-all;
    background-color: #28231D;
    color: #E6E1DC;
    border-radius: 1%;
    overflow: auto;
    max-height: 300px;
}

/* For all <code> */
code {
    font-family: MyFancyCustomFont, monospace;
    font-size: inherit;
}

/* Code in text */
    p > code,
    li > code,
    dd > code,
    td > code {
    background: #ffeff0;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}